Options +SymLinksIfOwnerMatch

RewriteEngine On
RedirectMatch 302 ^/devin /#ContactInfo:ContactInfo%20SocialLinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /#$1 [R=303,NE,L]

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://tritarget.org/$1 [R=301,NE,L]

<Files .htaccess>
  order allow,deny
  deny from all
</Files>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

<IfModule headers_module>
  header always set X-Frame-Options SAMEORIGIN
  header set X-Clacks-Overhead "GNU Terry Pratchett"
</IfModule>
