/*\
title: $:/site/sourcecode/styles.css
tags: $:/tags/Stylesheet
type: text/css

Sourcecode CSS styles for text/prs.sourcecode generated output

\*/
.vimCodeElement .htmlEndTag { color: var(--rebase1); }
.vimCodeElement .htmlArg { color: var(--rebase0); }
.vimCodeElement .htmlTag { color: var(--rebase1); }
.vimCodeElement .htmlTagName { color: var(--blue); font-weight: bold; }
.vimCodeElement .Constant { color: var(--cyan); }
.vimCodeElement .Identifier { color: var(--blue); }
.vimCodeElement .Statement { color: var(--green); }
.vimCodeElement .Special { color: var(--red); }
.vimCodeElement .Type { color: var(--yellow); }
.vimCodeElement .PreProc { color: var(--orange); }
.vimCodeElement .Comment { color: var(--rebase1); }
.vimCodeElement .vimIsCommand { color: var(--rebase0); }
.vimCodeElement .vimCommand { color: var(--yellow); }
.vimCodeElement .cPreCondit { color: var(--orange); }
.vimCodeElement .vimSynType { color: var(--cyan); }
.vimCodeElement .Normal { color: var(--rebase00); }
